.nav {
  height: 122px;

  display: grid;
  grid-template-columns: 70% 30%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: var(--body-font-family);
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

.navLinksOpen {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 100px;
  left: 0;

  z-index: 1;

  background: linear-gradient(#fffcf3 50%, transparent);
  transition: 1s ease;
}

.navLinksOpen ul {
  padding: 0;
  margin-top: 50px;
}

.navLinksOpen li {
  list-style-type: none;

  font-family: var(--body-font-family);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 100px;
}

.navLinksClosed {
  display: none;
}

.burgerDiv {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ----------------- 768px BREAKPOINT ----------------*/

@media screen and (min-width: 768px) {
  .nav {
    grid-template-columns: 50% 50%;
  }

  .navLinksClosed {
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navLinksClosed ul {
    display: flex;
    padding: 0;
  }

  .navLinksClosed li {
    list-style-type: none;

    font-family: var(--body-font-family);
    font-size: 14px;
    text-transform: uppercase;

    margin-left: 20px;
  }

  .burgerDiv {
    display: none;
  }
}
