:root {
  --heading-font-family: "Alegreya";
  --body-font-family: "Montserrat";
  --heading-font-color: #4e3b2d;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #fffcf3;

  max-width: 1280px;
  margin: 0 80px;
}

@media screen and (min-width: 1440px) {
  body {
    margin: 0 auto;
  }
}
