.footer {
  height: 200px;
  margin-bottom: 30px;
  background-color: #4e3b2d99;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer p,
.footer a {
  color: #fff;
  text-decoration: none;
  font-family: var(--body-font-family);
  font-size: 14px;

  margin-left: 20px;
}

/* ----------------- 768px BREAKPOINT ----------------*/

@media screen and (min-width: 768px) {
  .footer a,
  .footer p {
    margin-left: 50px;
  }

  .footerBreak {
    display: none;
  }
}

/* ----------------- 1000px BREAKPOINT ----------------*/

@media screen and (min-width: 1000px) {
  .footer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .footer a,
  .footer p {
    margin: 50px;
  }
}
